* {
  font-family: "Avenir LT Pro", sans-serif;
}
.headpayment {
  font-family: "Avenir LT Pro";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.payment-background {
  background: #ffffff;
  width: 640px;
  height: 351px;
  padding: 25px 30px;
  /* border-radius: 25px; */
  /* margin: 50px auto; */
}
.head-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.head-text h4 {
  font-weight: 400;
  font-size: 18px;
}
.close {
  width: 24px;
  height: 24px;
  color: #b1b1b1;
  cursor: pointer;
}
.options {
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
.options .full-pay {
  border: 1px solid #cdcdcd;
  display: flex;
  width: 280px;
  height: 90px;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.options .full-pay.active {
  border: 2.5px solid #f5772f;
  border-radius: 10px;
}

.radio {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background-color: white;
  transition: all 0.3s ease;
  margin-left: 20px;
}

.radio:checked {
  border-color: #f5772f;
  background-color: #ffff;
}

.radio:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #f5772f;
  border-radius: 50%;
}

.fullpay-text {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.top {
  font-size: 16px;
  font-weight: 400;
}
.down {
  font-size: 14px;
  color: #596275;
}

.dynamic-button {
  width: 250px;
  height: 56px;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #f5772f;
  color: #ffff;
  margin: 0px 60%;
  font-size: 16px;
  font-weight: 700;
}

.dynamic-button:hover {
  background-color: #ff9e66;
}
.payment-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Style for the actual modal container */
.payment-modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}
